<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Neumorphic Login - Free Bulma template</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/neumorphic-login.css">
  
</head>

<body>
  <header>
    <%- include('../partials/nav', { hideSignIn: true }) %>  
  </header>
  <section class="hero is-fullheight">
    <div class="hero-body has-text-centered">
      <div class = "container" style="text-align:center" >
      <div class="login">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_M-pcgz6W0KzGjvtTOKugBFbwY-9b4ynW-Q&usqp=CAU" width="100px" />
        <form id="login-form">
          <div class="field">
            <div class="control">
              <input class="input is-medium is-rounded" style="width: 20%;" type="email" name="login" placeholder="Your user name" autocomplete="username" required />
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input class="input is-medium is-rounded" style="width: 20%;" type="password" name="password" placeholder="Password" autocomplete="current-password" required />
            </div>
          </div>
          <br />
          <button class="button is-primary is-medium is-rounded" style="width:10%;" type="submit">
            Sign In
          </button>
          <div id="login-error">

          </div>
        </form>
        <br>
      </div>
    </div>
    </div>
  </section>
</body>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>
  
 window.onload = () => {
    const firebaseConfig = {
      apiKey: "AIzaSyAA1HcwJn-FKvyvBTiNGjgCN4OM6yKSF8U",
    authDomain: "milestone-1--building-startup.firebaseapp.com",
  projectId: "milestone-1--building-startup",
  storageBucket: "milestone-1--building-startup.appspot.com",
  messagingSenderId: "674934330368",
  appId: "1:674934330368:web:c556e423c742f25c26f4e5"};

  const postIdTokenToSessionLogin = async function (url, useridToken) {
      const response = await fetch(url, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ idToken: useridToken }),
      });
      return response;
    };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);
      
    document
      .getElementById("login-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        const login = event.target.login.value;
        const password = event.target.password.value;
  app.auth().signInWithEmailAndPassword(login, password).catch((error) => {
  var errorMessage = error.message;
  console.log(error.code, error.message);
  window.alert("Wrong username/password")
}).then((userCredential) => {
    var user = userCredential.user;
      return user.getIdToken().then(idToken => {
    return postIdTokenToSessionLogin('/sessionLogin', idToken);
  }).catch((error) => {
  var errorCode = error.code;
  var errorMessage = error.message;
  console.log(error.code, error.message);
});
}).then(() => {
 window.location.assign('/dashboard');
}).catch((error) => {
  var errorCode = error.code;
  var errorMessage = error.message;
  console.log(error.code, error.message);
})
} )}          
</script>

</html>