<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Register - Free Bulma template</title>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/15181efa86.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="../css/register.css">
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>
  <section class="container">
    <div class="columns is-multiline">
      <div class="column is-8 is-offset-2 register">
        <div class="columns">
          <div class="column left">
            <h1 class="title is-1">Welcome to MediTrip</h1>
            <h2 class="subtitle colored is-4">Got tired of paying for expensive medical bills?</h2>
            <p>You are one just one sign up away from access to world renowned doctors at cheapest price possible!!</p>
          </div>
          <div class="column right has-text-centered">
            <h2 class="title is-4">Sign Up for a new account <br> or <br> <a href="/sign-in"><small style="color: deepskyblue;">click here to sign in with an existing account</small></a></h2>
            <p class="description">Find best doctors out there, get free consultations and much more!</p>
            <form id="login-form">
              <div class="field">
                <div class="control">
                  <input id= "login" class="input is-medium" type="text" placeholder="Email">
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <input id="password" class="input is-medium" type="password" placeholder="Password">
                </div>
              </div>
              <button class="button is-block is-primary is-fullwidth is-medium">Submit</button>
              <br />
            </form>
          </div>
        </div>
      </div>
      <!-- <div class="column is-8 is-offset-2">
        <br>
        <nav class="level">
          <div class="level-left">
            <div class="level-item">
              <span class="icon">
                <i class="fab fa-twitter"></i>
              </span> &emsp;
              <span class="icon">
                <i class="fab fa-facebook"></i>
              </span> &emsp;
              <span class="icon">
                <i class="fab fa-instagram"></i>
              </span> &emsp;
              <span class="icon">
                <i class="fab fa-github"></i>
              </span> &emsp;
              <span class="icon">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
          </div>
          <div class="level-right">
            <small class="level-item" style="color: var(--textLight)">
              &copy; Super Cool Website. All Rights Reserved.
            </small>
          </div>
        </nav>
      </div> -->
    </div>
  </section>
</body>
<style>
  :root {
    --brandColor: hsl(166, 67%, 51%);
    --background: rgb(247, 247, 247);
    --textDark: hsla(0, 0%, 0%, 0.66);
    --textLight: hsla(0, 0%, 0%, 0.33);
  }

  body {
    background: var(--background);
    height: 100vh;
    color: var(--textDark);
  }

  .field:not(:last-child) {
    margin-bottom: 1rem;
  }

  .register {
    margin-top: 10rem;
    background: white;
    border-radius: 10px;
  }

  .left,
  .right {
    padding: 4.5rem;
  }

  .left {
    border-right: 5px solid var(--background);
  }

  .left .title {
    font-weight: 800;
    letter-spacing: -2px;
  }

  .left .colored {
    color: var(--brandColor);
    font-weight: 500;
    margin-top: 1rem !important;
    letter-spacing: -1px;
  }

  .left p {
    color: var(--textLight);
    font-size: 1.15rem;
  }

  .right .title {
    font-weight: 800;
    letter-spacing: -1px;
  }

  .right .description {
    margin-top: 1rem;
    margin-bottom: 1rem !important;
    color: var(--textLight);
    font-size: 1.15rem;
  }

  .right small {
    color: var(--textLight);
  }

  input {
    font-size: 1rem;
  }

  input:focus {
    border-color: var(--brandColor) !important;
    box-shadow: 0 0 0 1px var(--brandColor) !important;
  }

  .fab,
  .fas {
    color: var(--textLight);
    margin-right: 1rem;
  }

</style>
</body>

<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>
// import { getAuth, createUserWithEmailAndPassword } from "firebase/auth";
//const functions = require('firebase-functions');
  window.onload = () => {
  //  functions.logger.log('Running onload')
    console.log('Running onload')
    const firebaseConfig = {
      // CS5356 TODO #2
      // Copy your Firebase config here too
      apiKey: "AIzaSyC2AmL-ElALSGbRy6_MMSFGKyiiVdkjfL4",
  authDomain: "meditrip-5dc59.firebaseapp.com",
  projectId: "meditrip-5dc59",
  storageBucket: "meditrip-5dc59.appspot.com",
  messagingSenderId: "716556610945",
  appId: "1:716556610945:web:edd8dba8b3cfba5c714c80"
    };

    const postIdTokenToSessionLogin = async function (url, useridtoken) {
      const response = await fetch(url, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ idToken: useridtoken }),
      });
      return response;
    };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("login-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        const login = event.target.login.value;
        const password = event.target.password.value;
        app.auth().createUserWithEmailAndPassword(login, password)
      .then((userCredential) => {
        // Signed in 
       var user = userCredential.user;
       return user.getIdToken().then(idToken => {
    return postIdTokenToSessionLogin('/sessionLogin', idToken);
  }).then(() => {
    window.location.assign("/dashboard");
    });
}).catch((error) => {
    console.log(error.code, error.message);
  //  functions.logger.log(error.code, error.message)
    window.alert(error.message)
 })
})
       
        // CS5356 TODO #3
        // Create a new user using the Firebase SDK for Web
        // Get the users ID token
        // Start a new session with the users ID token
        // Redirect the user to the /dashboard
};
</script>

</html>