<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
  <head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
    <style type="text/css">
      body{
      padding: 0;
      margin: 0;
      }
      .hero{
      height: 100vh;
      position: relative;
      }
      .notification{
      padding-top: 20px;
      padding-bottom: 30px;
      }
      .button{
      margin-top: 10px;
      }
    </style>
  </head>
</head>

<body>
  <header>
    <%- include('../partials/nav', { hideSignIn: true }) %>  
  </header>
    <div class="hero is-primary">
      <div class="hero-body">
        <h1 class="title has-text-centered is-size-2"> MediTrip Log In</h1>
        <div class="columns is-centered">
          <div class="column is-half">
            <div class="notification is-light">
              <div class="field">
                <label class="label">Name</label>
                <p class="control has-icons-left has-icons-right">
                <form id="login-form">
                  <input class="input" name="email" type="email" placeholder="Email">
                  <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <label class="label">Password:</label>
                <p class="control has-icons-left">
                  <input class="input" name = "password" type="password" placeholder="Password">
                  <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                  </span>
                </p>
              </form>
              </div>
              <a class="button is-info is-rounded is-outlined is-medium">Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  

</body>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>
  
 window.onload = () => {
    const firebaseConfig = {
      apiKey: "AIzaSyAA1HcwJn-FKvyvBTiNGjgCN4OM6yKSF8U",
    authDomain: "milestone-1--building-startup.firebaseapp.com",
  projectId: "milestone-1--building-startup",
  storageBucket: "milestone-1--building-startup.appspot.com",
  messagingSenderId: "674934330368",
  appId: "1:674934330368:web:c556e423c742f25c26f4e5"};

  const postIdTokenToSessionLogin = async function (url, useridToken) {
      const response = await fetch(url, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ idToken: useridToken }),
      });
      return response;
    };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);
      
    document
      .getElementById("login-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        const login = event.target.login.value;
        const password = event.target.password.value;
  app.auth().signInWithEmailAndPassword(login, password).catch((error) => {
  var errorMessage = error.message;
  console.log(error.code, error.message);
  window.alert("Wrong username/password")
}).then((userCredential) => {
    var user = userCredential.user;
      return user.getIdToken().then(idToken => {
    return postIdTokenToSessionLogin('/sessionLogin', idToken);
  }).catch((error) => {
  var errorCode = error.code;
  var errorMessage = error.message;
  console.log(error.code, error.message);
});
}).then(() => {
 window.location.assign('/dashboard');
}).catch((error) => {
  var errorCode = error.code;
  var errorMessage = error.message;
  console.log(error.code, error.message);
})
} )}          
</script>

</html>