<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

  <div class="container">
    Sign Up for a new account or <a href="/sign-in">click here to sign in with an existing account</a>
    <form id="login-form">
      <label>Login</label>
      <input id="login" type="text" name="login" />
      <label>Password</label>
      <input type="password" name="password" />
      <button>Log in</button>
    </form>
    <div id="login-error" style="display: none;">
    </div>
    <a href="/dashboard">Dashboard</a>
  </div>
</body>

<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>
import { getAuth, createUserWithEmailAndPassword } from "firebase/auth";
  window.onload = () => {
    console.log('Running onload')
    const firebaseConfig = {
      // CS5356 TODO #2
      // Copy your Firebase config here too
  apiKey: "AIzaSyAA1HcwJn-FKvyvBTiNGjgCN4OM6yKSF8U",
  authDomain: "milestone-1--building-startup.firebaseapp.com",
  projectId: "milestone-1--building-startup",
  storageBucket: "milestone-1--building-startup.appspot.com",
  messagingSenderId: "674934330368",
  appId: "1:674934330368:web:c556e423c742f25c26f4e5"
    };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("login-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        const login = event.target.login.value;
        const password = event.target.password.value;

        createUserWithEmailAndPassword(app.auth(), login, password)
      .then((userCredential) => {
        // Signed in 
       const user = userCredential.user;
    // ...
       })
    .catch((error) => {
      const errorCode = error.code;
     const errorMessage = error.message;
      // ..
  });
       


        // CS5356 TODO #3
        // Create a new user using the Firebase SDK for Web
        // Get the users ID token
        // Start a new session with the users ID token
        // Redirect the user to the /dashboard

        return false;
      });
  };
</script>

</html>